{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1>{{ vehicle }} Seats</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Seat Number</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for seat in seats %}
      <tr>
        <td>{{ seat.seat_number }}</td>
        {% if seat.is_available %}
        <td>Available</td>
        <td>
          <a
            href="{% url 'tickets:book_ticket' vehicle.id %}?seat={{ seat.seat_number }}"
            class="btn btn-success"
            >Book Seat</a
          >
        </td>
        {% else %}
        <td>Booked</td>
        <td></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
