{% extends "base.html" %} {% block content %}
{% load static%}

<div class="container d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-md-6">
      <h2>{{ vehicle.vehicle_number }}</h2>
      <p>Vehicle Type: {{ vehicle.type }}</p>
      <p>Model: {{ vehicle.body_manufacturer }}</p>
      <p>Capacity: {{ vehicle.capacity }}</p>
    </div>

    <div class="col-md-6">
      <h2>Available Seats</h2>
      <ul>
        {% for seat in available_seats %}
        <li>{{ seat.number }}</li>
        <li>{{ seat.type }}</li>
        {% endfor %}
      </ul>
    </div>
    <input class="btn btn-primary btn-block" type=button value="Previous Page" onClick="javascript:history.go(-1);">
  </div>
</div>
<div class="container">
  <section
    class="jumbotron jumbotron-fluid"
    style="
      background-image: url('{% static 'images/011.jpg' %}');
      background-size: cover;
      background-position: center;
    "
  >
    <div class="container">
      <h1 class="display-1">Nemesis</h1>
      <p class="display-4">Where Adventure Meets Accommodation</p>
      <p class="lead">
        Welcome! Please select a vehicle and choose your preferred seat on the
        next page
      </p>
      <p class="lead">
        Some vehicles may have different seating sections or classes, so choose
        the appropriate section if applicable
      </p>
      <p><strong>Please Explore more:</strong></p>
      <a href="{% url 'tickets:search_travels' %}" class="btn btn-lg btn-primary"
        >Search a Ticket</a
      >
    </div>
  </section>
  </div>
</div>

{% endblock %}
